
bin/Debug/netcoreapp2.0/razor.deps.json
bin/Debug/netcoreapp2.0/razor.deps.json
bin/Debug/netcoreapp2.0/razor.deps.json
bin/Debug/netcoreapp2.0/razor.dll
bin/Debug/netcoreapp2.0/razor.pdb
obj/Debug/netcoreapp2.0/razor.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/razor.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.0/razor.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/razor.dll
obj/Debug/netcoreapp2.0/razor.pdb
obj/project.assets.json
obj/razor.csproj.nuget.cache
obj/razor.csproj.nuget.g.props
